*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  background-image: url("../../public/background.jpg");
  background: auto;
  background-repeat: repeat;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}



.mainbody {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.statblock {
  background-image: url("../../public/blockbackground.jpg");
  display: grid;
  grid-template-columns: 40% 60%;
  color: #cf972e;
  margin-left: 45px;
  margin-bottom: 30px;
  border-radius: 15px;
}