.characteristicblock {
    height: 650px;
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0px;
    padding-left: 30px;
}

.stat_input {
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1em;
    appearance: none;
    color: currentcolor;
    background: transparent;
    width: 70px;
    height: 60px;
    padding: 0.8em;
    text-align: center;
    position: relative;
    border-radius: 15px;
    background: hsla(0, 0%, 50%, 0.3);
}

.stat_input:focus {
    outline: 0;
}

.topstat {
    padding-top: 15px;
}

.botstat {
    padding-bottom: 15px;
}